.list{
  list-style: none !important;
  
}

.item{
  width: 300px !important;
  margin-right: auto;
  padding: 10px;
  text-align: center;
  border: 1px solid #000;
  border-radius: 20px;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}
.item:hover{
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 255, .2);

}